PizzAmore_25_LessAttr_Class_simpleviews/common_model/__history/
PizzAmore_25_LessAttr_Class_simpleviews/fmx/__history/
PizzAmore_25_LessAttr_Class_simpleviews/fmx/Android/
PizzAmore_25_LessAttr_Class_simpleviews/fmx/Android64/
PizzAmore_25_LessAttr_Class_simpleviews/fmx/Win32/
PizzAmore_25_LessAttr_Class_simpleviews/fmx/Win64/
PizzAmore_25_LessAttr_Class_simpleviews/vcl/__history/
PizzAmore_25_LessAttr_Class_simpleviews/vcl/Win32/
