PizzAmore_25_LessAttr_Class_simpleviews/common_model/__history/
PizzAmore_25_LessAttr_Class_simpleviews/fmx/__history/
PizzAmore_25_LessAttr_Class_simpleviews/fmx/Android/
PizzAmore_25_LessAttr_Class_simpleviews/fmx/Android64/
PizzAmore_25_LessAttr_Class_simpleviews/fmx/Win32/
PizzAmore_25_LessAttr_Class_simpleviews/fmx/Win64/
PizzAmore_25_LessAttr_Class_simpleviews/vcl/__history/
PizzAmore_25_LessAttr_Class_simpleviews/vcl/Win32/
PizzAmore_27_LessAttr_Intf_simplemicroviews/common_model/__history/
PizzAmore_27_LessAttr_Intf_simplemicroviews/fmx/Win32/
PizzAmore_27_LessAttr_Intf_simplemicroviews/fmx_FormAsViewContext/Win32/
PizzAmore_27_LessAttr_Intf_simplemicroviews/vcl/__history/
PizzAmore_27_LessAttr_Intf_simplemicroviews/vcl/Win32/
PizzAmore_27_LessAttr_Intf_simplemicroviews/fmx/__history/
PizzAmore_30_LessAttr_Intf/common_model/__history/
PizzAmore_30_LessAttr_Intf/mvvm_common_vm/__history/
PizzAmore_30_LessAttr_Intf/mvvm_vcl/__history/
PizzAmore_30_LessAttr_Intf/mvvm_vcl/Win32/
